body{
    background-color: rgb(218, 196, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}
div{
    display: inline-block;
    position: relative;
    left: 700px;;
} 
img {
    border-radius: 25px;
}
h1{
    text-align: center;
}
form{
    display: inline-block;
    position: relative;
    bottom: 90px;
    left: 30px;
}
#bottone{
    background-color: blue;
    color: white;
    border-radius:35%;
    height: 50px;
    width: 90px;
    position:relative;
    right: 170px;   
}
#bottone:hover{
    background-color: aqua;
    color: black;

}